/*Common css start */
@font-face {
  font-family: nexa;
  src: url(../fonts/nexa.otf);
}

@font-face {
  font-family: robo-black;
  src: url(../fonts/RobotoSlab-Black.ttf);
}

@font-face {
  font-family: robo_light;
  src: url(../fonts/RobotoSlab-Light.ttf);
}

@font-face {
  font-family: robo-bold;
  src: url(../fonts/RobotoSlab-Bold.ttf);
}

@font-face {
  font-family: robo-medium;
  src: url(../fonts/RobotoSlab-Medium.ttf);
}

@font-face {
  font-family: robo-regular;
  src: url(../fonts/RobotoSlab-Regular.ttf);
}

@font-face {
  font-family: robo-semiBold;
  src: url(../fonts/RobotoSlab-SemiBold.ttf);
}

@font-face {
  font-family: openSans-regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: ms;
  src: url(../fonts/chinese.msyh.ttf);
}

@font-face {
  font-family: gotham;
  src: url(../fonts/gotham.otf);
}

* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

.container {
  max-width: 1460px;
}

@media (min-width: 1024px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 767px) {
  .container {
    width: 85%;
  }
}

body {
  font-family: robo-regular;
}

.h-w {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

/*Common css end */
/* Header section start */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  background-color: transparent !important;
}

header.translate-top.header {
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
}

header.position-fixed.header {
  background-color: #fff !important;
  position: fixed;
  top: 0;
  -webkit-transform: all 1s linear;
          transform: all 1s linear;
  width: 100%;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

header.position-fixed.translate-top.header {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

@media (min-width: 0px) and (max-width: 576px) {
  header nav .container .navbar-brand img {
    width: 150px !important;
  }
}

header nav .container .navbar-toggler {
  outline: none;
  border: none;
}

header nav .container .collapse {
  position: relative;
  text-align: center;
}

header nav .container .collapse .navbar-nav .nav-item {
  margin: 0px 8px;
}

header nav .container .collapse .navbar-nav .nav-item:first-child {
  margin-left: 0px;
}

header nav .container .collapse .navbar-nav .nav-item.req_btn {
  padding: 0px 12px;
  border-radius: 24px;
  background: #4A9239;
}

header nav .container .collapse .navbar-nav .nav-item.req_btn .nav-link {
  color: #fff;
  text-align: center;
}

header nav .container .collapse .navbar-nav .nav-item .nav-link {
  font-size: 20px;
  line-height: 26px;
  font-family: robo_light;
  color: #59708B;
}

@media (min-width: 800px) and (max-width: 1280px) {
  header nav .container .collapse .navbar-nav .nav-item .nav-link {
    font-size: 18px;
  }
}

/* Header section end */
/* banner section start */
#banner {
  position: relative;
  min-height: 100vh;
  background: #EBEBEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

@media (max-width: 1024px) {
  #banner {
    background: #fff;
  }
}

#banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 65.5%;
  height: 100%;
  background: #fff;
}

@media (max-width: 1024px) {
  #banner::before {
    display: none;
  }
}

#banner .container .dots {
  position: absolute;
  top: 0;
  left: 0;
}

#banner .container .dots img {
  height: 470px;
  width: 100px;
}

@media (min-width: 0px) and (max-width: 1750px) {
  #banner .container .dots {
    display: none;
  }
}

#banner .container .assets {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 576px) {
  #banner .container .assets img {
    width: 180px;
    height: 580px;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  #banner .container .banner_content {
    padding: 120px 0px;
  }
}

@media (max-width: 767px) {
  #banner .container .banner_content {
    padding: 102px 0px;
  }
}

#banner .container .banner_content .bnnr_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#banner .container .banner_content .bnnr_text h2 {
  color: #024579;
  font-size: 55px;
  line-height: 70px;
  font-family: nexa;
  font-weight: bold;
}

@media (max-width: 767px) {
  #banner .container .banner_content .bnnr_text h2 {
    font-size: 28px;
    line-height: 37px;
  }
}

#banner .container .banner_content .bnnr_text span {
  font-size: 26px;
  line-height: 45px;
  color: #707374;
  font-family: robo_light;
}

@media (max-width: 767px) {
  #banner .container .banner_content .bnnr_text span {
    font-size: 14px;
    line-height: 25px;
  }
}

#banner .container .banner_content .bnnr_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  #banner .container .banner_content .bnnr_img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  #banner .container .banner_content .bnnr_img img {
    max-width: 300px;
  }
}

@media (min-width: 0px) and (max-width: 576px) {
  #banner .container .banner_content .bnnr_img img {
    margin-bottom: 30px;
  }
}

/* banner section end */
/* innovation section start */
#innovation {
  background: url(../images/innovation/milling3R.png) center center/cover no-repeat;
  padding: 118px 0px;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  #innovation {
    padding: 60px 0px;
  }
}

#innovation::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #02467973;
  z-index: 1;
}

#innovation .container .innovation_inner .innovation_slogan {
  font-size: 35px;
  font-family: nexa;
  font-weight: bold;
  line-height: 60px;
  color: #fff;
  z-index: 9999;
  position: relative;
  text-align: center;
}

@media (max-width: 767px) {
  #innovation .container .innovation_inner .innovation_slogan {
    font-size: 20px;
    line-height: 40px;
  }
}

@media (min-width: 0px) and (max-width: 576px) {
  #innovation .container .innovation_inner .innovation_slogan {
    line-height: 28px;
  }
}

/* innovation section end */
/* concept section start */
#concept {
  padding: 118px 0px;
  position: relative;
  z-index: 2;
}

@media (max-width: 1024px) {
  #concept {
    padding: 60px 0px;
  }
}

#concept .container .assets {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 1024px) {
  #concept .container .assets {
    display: none;
  }
}

#concept .container .assets img {
  width: 650px;
  height: 550px;
}

#concept .container .assets_round {
  position: absolute;
  z-index: -1;
  top: 15%;
  right: 54%;
}

@media (max-width: 1024px) {
  #concept .container .assets_round {
    top: 10%;
  }
}

@media (max-width: 767px) {
  #concept .container .assets_round {
    top: 5%;
  }
}

#concept .container .assets_sm {
  position: absolute;
  z-index: -1;
  bottom: -1182px;
  left: 0px;
}

#concept .container .assets_sm img {
  height: 1400px;
  width: 915px;
}

@media (max-width: 1024px) {
  #concept .container .assets_sm img {
    width: 350px;
    height: 1250px;
  }
}

@media (max-width: 767px) {
  #concept .container .assets_sm img {
    width: 285px;
    height: 1100px;
  }
}

#concept .container .dots {
  position: absolute;
  left: 0;
  top: -30px;
  z-index: -1;
}

@media (max-width: 576px) {
  #concept .container .dots img {
    width: 180px;
    height: 80px;
  }
}

#concept .container .concept_inner {
  padding: 60px 0px;
}

#concept .container .concept_inner .concept_heading_content {
  padding: 15px 0px;
}

@media (max-width: 767px) {
  #concept .container .concept_inner .concept_heading_content {
    margin: auto;
  }
}

#concept .container .concept_inner .concept_heading_content .concept_head {
  font-size: 50px;
  font-weight: bold;
  font-family: nexa;
  color: #024579;
  line-height: 67px;
  text-transform: capitalize;
  position: relative;
}

@media (max-width: 767px) {
  #concept .container .concept_inner .concept_heading_content .concept_head {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
}

#concept .container .concept_inner .concept_heading_content .concept_head::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  width: 110px;
  height: 2px;
  background: #6FBA84;
}

@media (max-width: 767px) {
  #concept .container .concept_inner .concept_heading_content .concept_head::after {
    left: 10.8%;
  }
}

#concept .container .concept_inner .concept_heading_content .concept_subheading {
  font-size: 26px;
  font-family: robo_light;
  line-height: 36px;
  margin: 0;
  color: #707374;
}

@media (max-width: 767px) {
  #concept .container .concept_inner .concept_heading_content .concept_subheading {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}

#concept .container .concept_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  justify-items: center;
}

@media (min-width: 0px) and (max-width: 576px) {
  #concept .container .concept_items {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) {
  #concept .container .concept_items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

#concept .container .concept_items .concept_box {
  border-radius: 20px;
  padding: 30px;
  background: #fff;
  -webkit-box-shadow: -3px 37px 46px -30px rgba(0, 0, 0, 0.6);
          box-shadow: -3px 37px 46px -30px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media (min-width: 0px) and (max-width: 576px) {
  #concept .container .concept_items .concept_box {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #ddd;
    margin-bottom: 30px;
  }
}

#concept .container .concept_items .concept_box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#concept .container .concept_items .concept_box a {
  width: 300px;
  height: 300px;
}

#concept .container .concept_items .concept_box a .cocept_title {
  font-size: 22px;
  line-height: 40px;
  color: #010101;
  font-family: robo-medium;
}

#concept .container .concept_items .concept_box a .concept_para {
  font-size: 18px;
  line-height: 26px;
  font-family: robo_light;
  color: #707374;
}

#concept .container .concept_items .slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  padding-top: 45px;
}

#concept .container .concept_items .slick-dots li {
  display: inline-block;
  margin: 0px 2px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid #ddd;
}

#concept .container .concept_items .slick-dots li.slick-active {
  background: red;
}

#concept .container .concept_items .slick-dots li button {
  display: none;
  font-size: 0px;
  outline: none;
}

/* concept section end */
/* dots section start */
#dots {
  position: relative;
  z-index: 2;
}

#dots .container {
  background: url(../images/assets/dots-1.png) center center/cover no-repeat;
  height: 140px;
}

/* dots section end */
/* featured section start */
#featured {
  position: relative;
  padding: 60px 0px;
  z-index: 2;
  position: relative;
}

#featured .container .assets {
  position: absolute;
  top: -441px;
  left: -110px;
  z-index: -1;
  display: none;
}

#featured .container .featured_inner {
  padding: 60px 0px;
}

@media (max-width: 1024px) {
  #featured .container .featured_inner {
    padding: 30px 0px;
  }
}

#featured .container .featured_inner .featured_heading_content {
  padding: 15px 0px;
}

@media (max-width: 767px) {
  #featured .container .featured_inner .featured_heading_content {
    margin: auto;
  }
}

#featured .container .featured_inner .featured_heading_content .featured_head {
  font-size: 50px;
  font-weight: bold;
  font-family: nexa;
  color: #024579;
  line-height: 67px;
  text-transform: capitalize;
  position: relative;
}

@media (max-width: 767px) {
  #featured .container .featured_inner .featured_heading_content .featured_head {
    line-height: 30px;
    text-align: center;
    font-size: 30px;
  }
}

#featured .container .featured_inner .featured_heading_content .featured_head::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  width: 110px;
  height: 2px;
  background: #6FBA84;
}

#featured .container .featured_inner .featured_heading_content .featured_subheading {
  font-size: 26px;
  font-family: robo_light;
  line-height: 36px;
  margin: 0;
  color: #707374;
}

@media (max-width: 767px) {
  #featured .container .featured_inner .featured_heading_content .featured_subheading {
    font-size: 15px;
    line-height: 25px;
  }
}

#featured .container .featured_industries {
  padding: 36px 0px;
}

@media (max-width: 767px) {
  #featured .container .featured_industries {
    padding: 0px;
  }
}

#featured .container .featured_industries .industries_content {
  position: relative;
  padding: 30px 0px;
  border: 1px solid transparent;
  border-radius: 20px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#featured .container .featured_industries .industries_content:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  #featured .container .featured_industries .industries_content {
    margin: 30px 0px;
  }
}

#featured .container .featured_industries .industries_content img {
  margin: auto;
}

#featured .container .featured_industries .industries_content .industries_title {
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  font-family: gotham;
  color: #010101;
}

#featured .container .featured_industries .slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  padding-top: 45px;
}

#featured .container .featured_industries .slick-dots li {
  display: inline-block;
  margin: 0px 2px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid #ddd;
  outline: none;
  font-size: 0px;
}

#featured .container .featured_industries .slick-dots li.slick-active {
  background: #F2994A;
}

#featured .container .featured_industries .slick-dots li button {
  display: none;
}

/* featured section end */
/* advantage section start */
#advantage {
  position: relative;
  padding: 118px 0px;
}

@media (max-width: 1024px) {
  #advantage {
    padding: 60px 0px;
  }
}

@media (max-width: 767px) {
  #advantage {
    z-index: 66666;
  }
}

#advantage .assets {
  position: absolute;
  z-index: -1;
  right: 0;
  top: -535px;
}

@media (max-width: 1024px) {
  #advantage .assets {
    top: 40%;
  }
}

#advantage .assets img {
  width: 930px;
  height: 1500px;
}

@media (max-width: 1024px) {
  #advantage .assets img {
    width: 300px;
    height: 750px;
  }
}

#advantage .container {
  border-top: 1px solid #707070;
}

#advantage .container .advantage_inner .advantage_heading_content {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (min-width: 0px) and (max-width: 576px) {
  #advantage .container .advantage_inner .advantage_heading_content {
    margin-top: 100px;
  }
}

#advantage .container .advantage_inner .advantage_heading_content .advantage_head {
  position: relative;
  font-size: 55px;
  font-weight: bold;
  font-family: nexa;
  color: #024579;
  line-height: 67px;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  #advantage .container .advantage_inner .advantage_heading_content .advantage_head {
    line-height: 30px;
    text-align: center;
    font-size: 30px;
  }
  #advantage .container .advantage_inner .advantage_heading_content .advantage_head::after {
    content: '';
    position: absolute;
    top: -20px;
    left: 11%;
    width: 110px;
    height: 2px;
    background: #6FBA84;
  }
}

#advantage .container .advantage_inner .advantage_heading_content .advantage_subheading {
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 20;
  font-family: robo-regular;
}

@media (max-width: 767px) {
  #advantage .container .advantage_inner .advantage_heading_content .advantage_subheading {
    font-size: 15px;
    line-height: 25px;
  }
}

#advantage .container .advantage_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

@media (max-width: 1024px) {
  #advantage .container .advantage_content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

#advantage .container .advantage_content .advantage_col {
  width: 550px;
}

@media (max-width: 767px) {
  #advantage .container .advantage_content .advantage_col {
    width: 100%;
  }
}

#advantage .container .advantage_content .advantage_col .advantage_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #B4B4B4;
  padding: 30px 40px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 12;
}

@media (min-width: 0px) and (max-width: 576px) {
  #advantage .container .advantage_content .advantage_col .advantage_box {
    margin-bottom: 30px;
  }
}

#advantage .container .advantage_content .advantage_col .advantage_box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#advantage .container .advantage_content .advantage_col .advantage_box .advantage_box_img {
  margin-right: 30px;
}

#advantage .container .advantage_content .advantage_col .advantage_box .advantage_box_text {
  font-size: 18px;
  color: #707374;
  line-height: 32px;
  font-family: robo-regular;
}

@media (min-width: 0px) and (max-width: 576px) {
  #advantage .container .advantage_content .advantage_col .advantage_box .advantage_box_text {
    font-size: 12px;
    line-height: 20px;
  }
}

/* advantage section end */
/*help section  start */
#help {
  background: #EBEBEB;
  position: relative;
  z-index: 2;
  min-height: 570px;
}

@media (max-width: 767px) {
  #help {
    min-height: 435px;
    background: #fff;
  }
}

#help .dots {
  position: absolute;
  z-index: 1;
  top: -60px;
  right: 0px;
}

#help .dots img {
  width: 400px;
  height: 150px;
}

#help .container .assets {
  position: absolute;
  top: -100%;
  right: 0;
  z-index: -1;
}

@media (max-width: 576px) {
  #help .container .assets img {
    width: 450px;
    height: 655px;
  }
}

#help .container .help_inner .help_content {
  padding: 90px 0px;
}

@media (max-width: 767px) {
  #help .container .help_inner .help_content {
    text-align: center;
    padding: 36px 0px;
  }
}

#help .container .help_inner .help_content .help_sub_heading {
  font-size: 50px;
  line-height: 68px;
  font-family: gotham;
  color: #024579;
  font-weight: bolder;
}

@media (max-width: 767px) {
  #help .container .help_inner .help_content .help_sub_heading {
    font-size: 30px;
    line-height: 40px;
  }
}

#help .container .help_inner .help_content .help_sub_text {
  width: 90%;
  font-family: robo_light;
  text-align: justify;
  color: #707374;
  margin: 32px 0px;
  font-size: 24px;
}

@media (max-width: 767px) {
  #help .container .help_inner .help_content .help_sub_text {
    font-size: 16px;
    line-height: 25px;
    margin: 32px auto;
    text-align: center;
  }
}

#help .container .help_inner .help_content .help_btn {
  width: 250px;
  height: 70px;
  border-radius: 50px;
  outline: none;
  border: none;
  background: #4A9239;
  font-size: 22px;
  line-height: 29px;
  font-family: robo-regular;
  color: #fff;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#help .container .help_inner .help_content .help_btn:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#help .container .help_inner .help_content_img {
  position: absolute;
  top: -48px;
  right: 0px;
  z-index: 2;
}

@media (max-width: 767px) {
  #help .container .help_inner .help_content_img {
    position: static;
  }
}

@media (max-width: 767px) {
  #help .container .help_inner .help_content_img img {
    margin: auto;
  }
}

/*help section  end */
/*Partner section  start */
#partner {
  background: #fff;
  padding: 80px 0px;
  z-index: 2;
}

@media (max-width: 767px) {
  #partner {
    padding: 60px 0px;
  }
}

#partner .container {
  background: url(../images/assets/map.png) center center/cover no-repeat;
  min-height: 580px;
  padding: 90px 0px;
}

@media (max-width: 767px) {
  #partner .container {
    min-height: 400px;
  }
}

#partner .container .partner_content .partner_heading {
  font-size: 50px;
  line-height: 67px;
  color: #024579;
  font-weight: bold;
  font-family: nexa;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  #partner .container .partner_content .partner_heading {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
}

#partner .container .partner_content .partner_subheading {
  font-size: 30px;
  color: #4E4E4E;
  line-height: 40px;
  font-family: robo-regular;
}

@media (max-width: 767px) {
  #partner .container .partner_content .partner_subheading {
    font-size: 15px;
    line-height: 25px;
  }
}

#partner .container .partner_slider {
  margin-top: 60px;
}

@media (max-width: 767px) {
  #partner .container .partner_slider {
    margin-top: 22px;
  }
}

#partner .container .partner_slider .slide_box {
  background: #fff;
  border: 1px solid #B0C0D4;
  width: 275px;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 18px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#partner .container .partner_slider .slide_box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#partner .container .partner_slider .slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  padding-top: 85px;
}

#partner .container .partner_slider .slick-dots li {
  display: inline-block;
  margin: 0px 2px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid #ddd;
  outline: none;
  font-size: 0px;
}

#partner .container .partner_slider .slick-dots li.slick-active {
  background: #F2994A;
}

#partner .container .partner_slider .slick-dots li button {
  display: none;
}

/*Partner section  End */
/*Newslater section start */
#newsletter {
  z-index: 2;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#249c54), color-stop(50%, #06477a), color-stop(99%, #0f666b));
  background: linear-gradient(90deg, #249c54 0%, #06477a 50%, #0f666b 99%);
  padding: 90px 0px;
}

#newsletter .container .newsletter_inner .newsletter_heading_content {
  padding: 15px 0px;
}

#newsletter .container .newsletter_inner .newsletter_heading_content .newsletter_head {
  font-size: 42px;
  color: #fff;
  line-height: 73px;
  font-family: gotham;
  font-weight: 900;
  text-transform: uppercase;
}

@media (min-width: 0px) and (max-width: 576px) {
  #newsletter .container .newsletter_inner .newsletter_heading_content .newsletter_head {
    font-size: 34px;
    line-height: 48px;
  }
}

#newsletter .container .newsletter_inner .newsletter_heading_content .newesletter_subheading {
  font-size: 26px;
  font-family: openSans-regular;
  line-height: 36px;
  margin: 0;
  color: #fff;
}

@media (min-width: 0px) and (max-width: 360px) {
  #newsletter .container .newsletter_inner .newsletter_heading_content .newesletter_subheading {
    font-size: 12px;
    line-height: 24px;
  }
}

#newsletter .container .form_newsletter {
  position: relative;
}

#newsletter .container .form_newsletter #main_form {
  position: relative;
  width: 1050px;
  height: 113px;
  border-radius: 80px;
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  #newsletter .container .form_newsletter #main_form {
    width: 600px;
    height: 80px;
  }
}

@media (min-width: 0px) and (max-width: 576px) {
  #newsletter .container .form_newsletter #main_form {
    border-radius: 8px;
  }
}

#newsletter .container .form_newsletter #main_form input {
  position: absolute;
  top: 50%;
  left: -48px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 450px;
  height: 33px;
  border: none;
  outline: none;
  z-index: 2;
  background: transparent;
  overflow: hidden;
}

#newsletter .container .form_newsletter #main_form input::-webkit-input-placeholder {
  font-size: 21px;
  color: #7D90A6;
  font-family: openSans-regular;
}

#newsletter .container .form_newsletter #main_form input:-ms-input-placeholder {
  font-size: 21px;
  color: #7D90A6;
  font-family: openSans-regular;
}

#newsletter .container .form_newsletter #main_form input::-ms-input-placeholder {
  font-size: 21px;
  color: #7D90A6;
  font-family: openSans-regular;
}

#newsletter .container .form_newsletter #main_form input::placeholder {
  font-size: 21px;
  color: #7D90A6;
  font-family: openSans-regular;
}

@media (min-width: 0px) and (max-width: 576px) {
  #newsletter .container .form_newsletter #main_form input::-webkit-input-placeholder {
    font-size: 12px;
  }
  #newsletter .container .form_newsletter #main_form input:-ms-input-placeholder {
    font-size: 12px;
  }
  #newsletter .container .form_newsletter #main_form input::-ms-input-placeholder {
    font-size: 12px;
  }
  #newsletter .container .form_newsletter #main_form input::placeholder {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  #newsletter .container .form_newsletter #main_form input {
    width: 300px;
  }
}

@media (min-width: 0px) and (max-width: 576px) {
  #newsletter .container .form_newsletter #main_form input {
    width: 195px;
    left: 48px;
  }
}

@media (min-width: 0px) and (max-width: 576px) {
  #newsletter .container .form_newsletter #main_form input {
    left: -38px;
  }
}

#newsletter .container .form_newsletter #main_form button {
  position: absolute;
  top: 50%;
  right: 130px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  border: none;
  outline: none;
  width: 200px;
  height: 66px;
  border-radius: 50px;
  background: #F2994A;
  font-size: 18px;
  color: #fff;
  font-family: gotham;
}

@media (max-width: 767px) {
  #newsletter .container .form_newsletter #main_form button {
    right: 90px;
    width: 150px;
    height: 50px;
  }
}

@media (max-width: 576px) {
  #newsletter .container .form_newsletter #main_form button {
    width: 190px;
    height: 56px;
    font-size: 16px;
    top: 150%;
    right: 50%;
    margin-top: 15px;
  }
}

#newsletter .container .form_newsletter #main_form .e-icon {
  position: absolute;
  top: 50%;
  left: 90px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

@media (max-width: 767px) {
  #newsletter .container .form_newsletter #main_form .e-icon {
    left: 22px;
  }
}

@media (max-width: 576px) {
  #newsletter .container .form_newsletter #main_form .e-icon {
    left: 105px;
  }
}

@media (min-width: 0px) and (max-width: 576px) {
  #newsletter .container .form_newsletter #main_form .e-icon {
    left: 12px;
  }
}

#newsletter .container .form_newsletter #main_form .e-icon i {
  color: #f2994A;
  z-index: 999;
  font-size: 43px;
}

@media (max-width: 767px) {
  #newsletter .container .form_newsletter #main_form .e-icon i {
    font-size: 32px;
    z-index: 222;
  }
}

@media (max-width: 576px) {
  #newsletter .container .form_newsletter #main_form .e-icon i {
    font-size: 26px;
    line-height: 32px;
  }
}

/*Newslater section  End */
/* footer Section Start */
footer {
  position: relative;
  z-index: 2;
  background: #F8F8FA;
}

footer .container .footer_top {
  padding: 118px 0px;
}

@media (max-width: 1024px) {
  footer .container .footer_top {
    padding: 60px 0px;
  }
}

footer .container .brand-logo .brand-logo-footer {
  margin-bottom: 30px;
}

footer .container .row_footer_inner.footer_sm {
  display: none;
}

@media (max-width: 767px) {
  footer .container .row_footer_inner.footer_lg {
    display: none;
  }
  footer .container .row_footer_inner.footer_sm {
    display: block;
  }
}

@media (max-width: 767px) {
  footer .container .row_footer_inner .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .container .row_footer_inner .footer-info .brand_img_logo {
  margin-bottom: 30px;
}

footer .container .row_footer_inner .footer-info .footer-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #024579;
  font-family: nexa;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  footer .container .row_footer_inner .footer-info .footer-heading {
    font-size: 20px;
    line-height: 27px;
  }
}

footer .container .row_footer_inner .footer-info .info .info-item .info-link {
  font-size: 20px;
  line-height: 35px;
  color: #59708B;
  word-spacing: 2px;
  font-family: openSans-regular;
}

@media (max-width: 767px) {
  footer .container .row_footer_inner .footer-info .info .info-item .info-link {
    font-size: 14px;
    line-height: 20px;
  }
}

footer .container .row_footer_inner .footer-info .info .info-item .info-link:hover {
  text-decoration: underline;
}

footer .container .row_footer_inner .footer-info .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -12px;
}

@media (max-width: 767px) {
  footer .container .row_footer_inner .footer-info .social-icons {
    margin-left: 32px 0px;
  }
}

footer .container .row_footer_inner .footer-info .social-icons .s-icons-item {
  margin: 0px 10px;
  padding: 0px 16px;
  width: 46px;
  height: 46px;
  border-radius: 8px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 0px) and (max-width: 576px) {
  footer .container .row_footer_inner .footer-info .social-icons .s-icons-item {
    width: 30px;
    height: 30px;
    margin: 0 6px;
  }
}

footer .container .row_footer_inner .footer-info .social-icons .s-icons-item .s-icon-link {
  color: #BFBFBF;
}

footer .container .row_footer_inner .footer-info .members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -12px;
}

footer .container .row_footer_inner .footer-info .members .info-item-member {
  margin: 0 10px;
}

@media (min-width: 800px) and (max-width: 1280px) {
  footer .container .row_footer_inner .footer-info .members .info-item-member .info-link-member img {
    width: 120px;
  }
}

@media (min-width: 0px) and (max-width: 576px) {
  footer .container .row_footer_inner .footer-info .members .info-item-member .info-link-member img {
    width: 120px;
  }
}

footer .bottom-footer {
  background-color: #024579;
}

footer .bottom-footer .container {
  padding: 16px 0px;
}

footer .bottom-footer .container .bottom_footer_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  footer .bottom-footer .container .bottom_footer_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .bottom-footer .container .bottom_footer_inner .f-cont.copyright, footer .bottom-footer .container .bottom_footer_inner .f-cont.sitemap {
  margin: 0px 20px;
}

@media (min-width: 0px) and (max-width: 360px) {
  footer .bottom-footer .container .bottom_footer_inner .f-cont.copyright, footer .bottom-footer .container .bottom_footer_inner .f-cont.sitemap {
    margin: 0;
  }
}

footer .bottom-footer .container .bottom_footer_inner .f-cont.copyright .text, footer .bottom-footer .container .bottom_footer_inner .f-cont.sitemap .text {
  font-size: 12px;
  color: #F5F1F1;
  font-family: ms;
}

@media (max-width: 767px) {
  footer .bottom-footer .container .bottom_footer_inner .f-cont.copyright .text, footer .bottom-footer .container .bottom_footer_inner .f-cont.sitemap .text {
    font-size: 8px;
    line-height: 20px;
  }
}

footer .bottom-footer .container .bottom_footer_inner .f-cont.sitemap .text {
  font-size: 12px;
}

@media (min-width: 0px) and (max-width: 576px) {
  footer .bottom-footer .container .bottom_footer_inner .f-cont.sitemap .text {
    font-size: 10px;
  }
}

/* footer Section End */
