@font-face {
    font-family: nexa;
    src: url(../fonts/nexa.otf);
}
@font-face {
    font-family: robo-black;
    src: url(../fonts/RobotoSlab-Black.ttf);
}
@font-face {
    font-family: robo_light;
    src: url(../fonts/RobotoSlab-Light.ttf);
}
@font-face {
    font-family: robo-bold;
    src: url(../fonts/RobotoSlab-Bold.ttf);
}
@font-face {
    font-family: robo-medium;
    src: url(../fonts/RobotoSlab-Medium.ttf);
}
@font-face {
    font-family: robo-regular;
    src: url(../fonts/RobotoSlab-Regular.ttf);
}
@font-face {
    font-family: robo-semiBold;
    src: url(../fonts/RobotoSlab-SemiBold.ttf);
}
@font-face {
    font-family: openSans-regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: ms;
    src: url(../fonts/chinese.msyh.ttf);
}
@font-face {
    font-family: gotham;
    src: url(../fonts/gotham.otf);
}



$laptop: 1024px;
$tablet: 767px;
$mobile: 576px;
@mixin laptop_max {
    @media (max-width: #{$laptop}) {
        @content;
    }
}

@mixin laptop_min {
    @media (min-width: #{$laptop}) {
        @content;
    }
}
@mixin laptop {
    @media (min-width: 767px) and (max-width: #{$laptop}) {
        @content;
    }
}

@mixin tablet_max {
    @media(max-width: #{$tablet}) {
        @content;
    }
}
@mixin  mobile_max {
    @media (max-width: #{$mobile}) {
        @content;
    }    
}
@mixin mobile {
    @media(min-width: 0px) and (max-width: #{$mobile}){
        @content;
    }
}
// mobiles
@mixin moto_g4 {
    @media (min-width: 0px) and (max-width: 360px) {
        @content;
    }
}
@mixin pixel_2 {
    @media (min-width: 0px) and (max-width: 411px) {
        @content;
    }
}
*{
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style: none;
}

a,a:hover,a:focus{
    text-decoration: none;
    outline: none;
}

.container{
    max-width: 1460px;
    
    @include laptop_min(){
        width: 95%;
    }
    @include tablet_max(){
        width: 85%;
    }
}
body{
    // position: relative;
   font-family: robo-regular;
//    overflow-x: hidden;
}

.h-w{
    // background-color: #fff ;
    // transform: translateY(-2px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
// Responsive devices
