footer {
    position: relative;
    z-index: 2;
    background:#F8F8FA;
    // background-color: rgb(98, 102, 105);
    .container{
        // padding: 30px 0px;
        .footer_top{
            padding: 118px 0px;
            @include laptop_max {
                padding: 60px 0px;
            }

        }
        .brand-logo {
            .brand-logo-footer{
                margin-bottom: 30px;
            }
        }

        .row_footer_inner{

            &.footer_sm{
                display: none;
            }
            @include tablet_max{
                &.footer_lg{
                    display: none;
                }

                &.footer_sm{
                    display: block;
                }
            }
            .footer-info{

                @include tablet_max{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                .brand_img_logo{
                    margin-bottom: 30px;
                }
                .footer-heading{
                    font-size: 24px;
                    margin-bottom: 20px;
                    color: #024579;
                    font-family: nexa;
                    letter-spacing: 1px;

                    @include tablet_max{
                        font-size: 20px;
                        line-height: 27px;
                    }
                }
                .info{

                    .info-item{
                        
                        .info-link{
                            font-size: 20px;
                            line-height: 35px;
                            // color: rgb(36, 39, 44);
                            color: #59708B;
                            word-spacing: 2px;
                            font-family: openSans-regular;

                            @include tablet_max{
                                font-size: 14px;
                                line-height: 20px;
                            }

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .social-icons{
                    display: flex;
                    align-items: center;
                    margin-left: -12px;

                    @include tablet_max{
                        margin-left: 32px 0px;
                    }
                    .s-icons-item{
                        margin: 0px 10px;
                        padding: 0px 16px;
                        width: 46px;
                        height: 46px;
                        border-radius: 8px;
                        background-color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include mobile {
                            width: 30px;
                            height: 30px;
                            margin: 0 6px;
                        }
                        .s-icon-link{
                            color: #BFBFBF;
                        }
                    }
                }
                .members{
                 display: flex;
                 margin-left: -12px;
                 .info-item-member{
                     margin: 0 10px;

                     .info-link-member{

                        img{
                           
                        @media (min-width:800px) and (max-width:1280px){
                           width: 120px;
                        }

                        @include mobile {
                            width: 120px;
                        }
                    }
                     }
                 }
                }
            }
        }
    }

    .bottom-footer {
        background-color: #024579;
        .container{
            padding: 16px 0px;

            .bottom_footer_inner{
                display: flex;
                justify-content: center;

                @include tablet_max {
                    flex-direction: column;
                    align-items: center;
                }
                .f-cont{
                    &.copyright{
                        margin: 0px 20px;
                        @include moto_g4 {
                            margin: 0;
                        }
                        .text {
                            font-size: 12px;
                            color: #F5F1F1;
                            font-family: ms;
                            @include tablet_max {
                                font-size: 8px;
                                line-height: 20px;
                            }
                        }
                    }
                    &.sitemap{
                        @extend .copyright;
                        .text{
                            font-size: 12px;
                            @include mobile {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}