
/*Common css start */
@import './common';
/*Common css end */



/* Header section start */


header{
    nav{
       .container{

        .collapse{

            .navbar-nav{
                .nav-item{
                    margin: 0 12px;
                    font-family: robo_light;
                    font-weight: bold;
                    font-size: 20px;
                }

                .nav-active-req{
                    width: 230px;
                    height: 50px;
                    background-color: #4A9239;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 25px;

                    .nav-link{
                        color: #fff;
                    }
                }
            }
        }
       }
    }
}





.mobile-header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
  }
  
  .mobile-header .logo {
    max-width: 180px;
  }
  
  .mobile-header .openbtn {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    background: #6BA229;
    border-radius: 50%;
    padding-left: 8px;
  }
  
  #sideNav {
    -webkit-box-shadow: 0.15rem 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
            box-shadow: 0.15rem 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    background: #fff;
    width: 0;
    overflow: hidden;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  #sideNav .closebtn {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    color: #d35400;
    background: #ebf0f8;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: 20px 20px;
  }
  
  #sideNav nav ul li {
    padding: 10px 20px;
    border-left: 5px solid transparent;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  #sideNav nav ul li a, #sideNav nav ul li #footer-bg .p, #footer-bg #sideNav nav ul li .p, #sideNav nav ul li #footer-bg span, #footer-bg #sideNav nav ul li span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #222;
    font-size: .9rem;
    font-weight: 500;
  }
  
  #sideNav nav ul li a i, #sideNav nav ul li #footer-bg .p i, #footer-bg #sideNav nav ul li .p i, #sideNav nav ul li #footer-bg span i, #footer-bg #sideNav nav ul li span i {
    padding-right: 20px;
    color: #6BA229;
    font-size: 1rem;
  }
  
  #sideNav nav ul li.active, #sideNav nav ul #generic_price_table li.generic_content:hover, #generic_price_table #sideNav nav ul li.generic_content:hover, #sideNav nav ul li:hover {
    border-left: 5px solid #6BA229;
    background: rgba(107, 162, 41, 0.2);
  }
  
  #sideNav .s-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
  }
  
  #sideNav .s-link a, #sideNav .s-link #footer-bg .p, #footer-bg #sideNav .s-link .p, #sideNav .s-link #footer-bg span, #footer-bg #sideNav .s-link span {
    width: 40px;
    height: 40px;
    background: #6BA229;
    color: #fff;
    display: block;
    text-align: center;
    border-radius: 50%;
    margin: 5px;
    line-height: 40px;
  }

/* Header section end */

/* Banner section start */
#banner {
    height: 650px;
    .container{

        .banner_content {
            margin: 60px 0;
            .bnn_texts {
                margin-top: 100px;
                .bnnr_head{
                    font-size: 55px;
                    font-family: nexa;
                    color: #024579;
                    line-height: 60px;
                }

                .bnnr_text{
                    font-size: 26px;
                    font-family: robo_light;
                    color: #707374;
                }
            }
        }
    }
}
/* Banner section End */




/* innovation section start */
#innovation {
    background: url(../images/innovation/milling3R.png) center center/cover no-repeat;
    padding: 60px 0px;
    position: relative;
    // z-index: 12;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #02467973;
        z-index: 1;
    }

    .container{
        .innovation_inner{
            
            .innovation_slogan{
                font-size: 35px;
                font-family: nexa;
                font-weight: bold;
                line-height: 46px;
                color: #fff;
                z-index: 9999;
                position: relative;
                text-align: center;
            }
        }
    }
}
/* innovation section end */

/* concept section start */
#concept {
    padding: 60px 0px;
    .container{

        .concept_inner {
            padding: 60px 0px;
            .concept_heading_content{
                padding: 15px 0px;
                .concept_head{
                    font-size: 50px;
                    font-weight: bold;
                    font-family: nexa;
                    color: #024579;
                    line-height: 67px;
                    text-transform: capitalize;
                    position: relative;

                    &::after{
                        content: '';
                        position: absolute;
                        top: -20px;
                        left: 0;
                        width: 110px;
                        height: 2px;
                        background: #6FBA84;
                    }
                }
                .concept_subheading{
                    font-size: 26px;
                    font-family: robo_light;
                    line-height: 36px;
                    margin: 0;
                    color: #707374;
                }
            }
        }
        
       .concept_items{

        .concept_box{
            width: 350px;
            height: 350px;
            border-radius: 20px;
            padding: 30px;
            background: #fff;
            box-shadow: -3px 37px 46px -30px rgba(0,0,0,0.6);
            .cocept_title{
                font-size: 22px;
                line-height: 40px;
                color: #010101;
                font-family: robo-medium;
            }

            .concept_para{
                font-size: 18px;
                line-height: 26px;
                font-family:  robo_light;
                color: #707374;

            }
        }
       } 
    }
}
/* concept section end */


/* dots section start */
#dots {
    padding: 30px 0px;
}
/* dots section end */


/* featured section start */
#featured {
    z-index: -1;
    position: relative;
    .container{

        .assets{
            position: absolute;
            top: -441px;
            left: -110px;
            z-index: -1;
        }
        .featured_inner {
            padding: 60px 0px;
            .featured_heading_content{
                padding: 15px 0px;
                .featured_head{
                    font-size: 50px;
                    font-weight: bold;
                    font-family: nexa;
                    color: #024579;
                    line-height: 67px;
                    text-transform: capitalize;
                    position: relative;

                    &::after{
                        content: '';
                        position: absolute;
                        top: -20px;
                        left: 0;
                        width: 110px;
                        height: 2px;
                        background: #6FBA84;
                    }
                }
                .featured_subheading{
                    font-size: 26px;
                    font-family: robo_light;
                    line-height: 36px;
                    margin: 0;
                    color: #707374;
                }
            }
        }
        
        .featured_industries{
            padding: 36px 0px;
            .industries_content{
                position: relative;

                .industries_title{
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 40px;
                    font-family: gotham;
                    color: #010101;
                }
            }
        }
    }
}
/* featured section end */

/* advantage section start */
#advantage{
    z-index: -1;
    position: relative;
    overflow: visible;
    padding: 80px 0px;
    .container{
         border-top: 1px solid #707070;

         .assets{
             position: absolute;
             top: -415px;
             right: 10px;
             z-index: -1;
         }
        .advantage_inner{
            
            .advantage_heading_content{
                margin-top: 60px;
                margin-bottom: 60px;

                .advantage_head {
                    font-size: 55px;
                    font-weight: bold;
                    font-family: nexa;
                    color: #024579;
                    line-height: 67px;
                    text-transform: capitalize;
                }
                .advantage_subheading {
                    font-size: 30px;
                    line-height: 39px;
                    letter-spacing: 20;
                    font-family: robo-regular;
                }
            }
        }

        .advantage_content{
            .advantage_box{
                display: flex;
                align-items: center;
                width: 602px;
                height: 107px;
                border: 1px solid #B4B4B4;
                padding: 30px 40px;
                
                .advantage_box_img{
                    margin-right: 30px;
                }
                .advantage_box_text{
                    font-size: 18px;
                    color: #707374;
                    line-height: 32px;
                    font-family: robo-regular;
                }
            }
        }
    }
}
/* advantage section end */

/*help section  start */
#help {
    background:#EBEBEB;
    position: relative;
    z-index: 999;
    height: 570px;
    .container{
        .dots {
            position: absolute;
            top: -60px;
            right: 0px;
        }
        .help_inner{
            min-height: 500px;
            .help_content{
                padding: 90px 0px;
                .help_sub_heading{
                    font-size: 50px;
                    line-height: 68px;
                    font-family: gotham;
                    color: #024579;
                    font-weight: bolder;
                }
                .help_sub_text{
                    width: 90%;
                    font-family: robo_light;
                    text-align: justify;
                    color: #707374;
                    font-size: 24px;
                   margin: 32px 0px;
                }

                .help_btn{

                    width: 250px;
                    height: 70px;
                    border-radius: 50px;
                    outline: none;
                    border: none;
                    background: #4A9239;
                    font-size: 22px;
                    line-height: 29px;
                    font-family: robo-regular;
                    color: #fff;

                    box-shadow: -8px 42px 35px -13px rgba(0,0,0,0.58);
                }
            }
            .help_content_img{
                position: absolute;
                top: -48px;
            }
        }
    }
}
/*help section  end */

/*Partner section  start */
#partner{
    // padding: 68px 0px;
    background: #fff;
    .container{
        background: url(../images/Partner/map-1.png) center center/cover no-repeat;
        height: 480px;
        .partner_inner{
            
            .partner_heading_content{
                margin-top: 110px;
                margin-bottom: 60px;

                .partner_head {
                    font-size: 55px;
                    font-weight: bold;
                    font-family: nexa;
                    color: #024579;
                    line-height: 67px;
                    text-transform: capitalize;
                }
                .partner_subheading {
                    font-size: 30px;
                    line-height: 39px;
                    letter-spacing: 20;
                    font-family: robo-regular;
                }
            }
        }

        .partner_slider{
            // margin-top: 200px;
            .slider{
                outline: none;
              .p-img{
                  width: 220px;
                  padding: 0 30px;
                  height: 125px;
                  background: #fff;
                  display: flex;
                  align-items: center;
                  justify-content: center;
              }
            }
        }
    }
}
/*Partner section  End */



/*Newslater section start */
#newsletter {
    position: relative;
    background: linear-gradient(90deg, rgba(36,156,84,1) 0%, rgba(6,71,122,1) 50%, rgba(15,102,107,1) 99%);
    padding: 46px 0px;
    .container{
        .newsletter_inner{
            .newsletter_heading_content{
                padding: 15px 0px;
                .newsletter_head{
                    font-size: 42px;
                    color: #fff;
                    line-height: 73px;
                    font-family: gotham;
                    font-weight: 900;
                    text-transform: uppercase;
                    // width: ;
                }
                .newesletter_subheading{
                    font-size: 26px;
                    font-family: openSans-regular;
                    line-height: 36px;
                    margin: 0;
                    color: #fff;
                }
            }
        }

        .form_newsletter{

            #main_form{
                position: relative;
                width: 1050px;
                height: 113px;
                border-radius: 80px;
                background-color: #fff;
                margin-top: 30px;
                margin-bottom: 40px;
                input{
                   position: absolute;
                   top: 50%;
                   left: -48px;
                   transform: translate(50%,-50%);
                   width: 450px;
                   height: 33px;
                   border: none;
                   outline: none;
                   &::placeholder {
                       font-size: 21px;
                       color: #7D90A6;
                       font-family: openSans-regular;
                   }
                   z-index: 2;
                }
                button{
                   position: absolute;
                   top: 50%;
                   right: 130px;
                   transform: translate(50%,-50%);
                   border: none;
                   outline: none;
                   width: 200px;
                   height: 66px;
                   border-radius: 50px;
                   background: #F2994A;
                   font-size: 18px;
                   color: #fff;
                   font-family: gotham;
                }

                .e-icon{
                    position: absolute;
                    top: 50%;
                    left: 90px;
                    transform: translate(50%,-50%);
                    i{
                        
                        color: #f2994A;
                        z-index: 999;
                        font-size: 43px;
                    }
                }
            }
        }
    }
}
/*Newslater section  End */

/* footer Section Start */
@import './footer';
/* footer Section End */