
/*Common css start */
@import './common';
/*Common css end */



/* Header section start */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    background-color: transparent !important;
    &.translate-top{
        &.header{
            transform: translateY(-120px);
        }
    }
    &.position-fixed{
        &.header{
            background-color: #fff !important;
            position: fixed;
            top: 0;
            transform: all 1s linear;
            width: 100%;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            // background-color: transparent;
        }
        &.translate-top{
            &.header{
                transform: translateY(0px);
                transition: 0.5s linear;
            }
        }
    }
    nav{
    
        .container {

            .navbar-brand{
                img{
                    @include mobile {
                        max-width: 150px;
                    }
                }
            }
            .navbar-toggler{
                outline: none;
                border: none;
            }
            .collapse{
                position: relative;
                text-align: center;
                // margin-top: 20px;
                // background: #fff;
                // padding: 30px 0px;
                .navbar-nav{

                    .nav-item{
                        margin: 0px 8px;

                        &:first-child {
                            margin-left: 0px;
                        }

                        &.req_btn{
                            padding: 0px 12px;
                            border-radius: 24px;
                            background: #4A9239;
                            .nav-link{
                                color: #fff;
                                text-align: center;
                            }
                        }

                        .nav-link{
                            font-size: 20px;
                            line-height: 26px;
                            font-family: robo_light;
                            color: #59708B;
                        }
                    }
                }
            }
        }
    }
}
/* Header section end */

/* banner section start */
#banner {
    position: relative;
    min-height: 100vh;
    background: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 65.5%;
        height: 100%;
        background: #fff;
    }
    .container {
        .banner_content{

            @include laptop {
                padding: 120px 0px;
            }

            @include tablet_max {
                padding: 102px 0px;
            }

            .bnnr_text{
                display: flex;
                flex-direction: column;
                justify-content: center;

                h2{
                    color: #024579;
                    font-size: 55px;
                    line-height: 70px;
                    font-family: nexa;
                    font-weight: bold;

                    @include tablet_max{
                        font-size: 28px;   
                        line-height: 37px;
                    }
                }
                span{
                    font-size: 26px;
                    line-height: 45px;
                    color: #707374;
                    font-family: robo_light;
                    @include tablet_max {
                        font-size: 14px;
                        line-height: 25px;
                    }
                }
            }
            .bnnr_img{
                display: flex;
                justify-content: flex-end;
                align-items: center;

                @include tablet_max{
                    justify-content: center;
                }

                img{
                    
                    @include tablet_max {
                        max-width: 300px;
                    }
                }
            }
        }
    }
}
/* banner section end */







/* innovation section start */
#innovation {
    background: url(../images/innovation/milling3R.png) center center/cover no-repeat;
    padding: 118px 0px;
    position: relative;
    // z-index: 12;
    @include tablet_max {
        padding: 60px 0px;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #02467973;
        z-index: 1;
    }

    .container{
        .innovation_inner{
            
            .innovation_slogan{
                font-size: 35px;
                font-family: nexa;
                font-weight: bold;
                line-height: 60px;
                color: #fff;
                z-index: 9999;
                position: relative;
                text-align: center;

                @include tablet_max {
                    font-size: 20px;
                    line-height: 40px;
                }
                @include mobile{
                    line-height: 28px;
                }
            }
        }
    }
}
/* innovation section end */

/* concept section start */
#concept {
    padding: 118px 0px;
    @include laptop_max {
        padding: 60px 0px;
    }
    .container{

        .concept_inner {
            padding: 60px 0px;
            .concept_heading_content{
                padding: 15px 0px;
                @include tablet_max {
                    margin: auto;
                }
                .concept_head{
                    font-size: 50px;
                    font-weight: bold;
                    font-family: nexa;
                    color: #024579;
                    line-height: 67px;
                    text-transform: capitalize;
                    position: relative;
                    @include tablet_max {
                        font-size: 30px;
                        line-height: 30px;
                        text-align: center;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        top: -20px;
                        left: 0;
                        width: 110px;
                        height: 2px;
                        background: #6FBA84;

                        @include tablet_max {
                            left: 10.8%;
                        }
                    }
                }
                .concept_subheading{
                    font-size: 26px;
                    font-family: robo_light;
                    line-height: 36px;
                    margin: 0;
                    color: #707374;

                    @include tablet_max {
                        font-size: 15px;
                        line-height: 25px;
                        text-align: center;
                    }
                }
            }
        }
        
       .concept_items{
         display: grid;
         grid-template-columns: repeat(3,1fr);
         grid-gap: 50px;
         justify-items: center;
         @include mobile{
            //  grid-template-columns: repeat(1,1fr) !important;
            display: flex !important;
            flex-wrap: nowrap;
            flex-direction: column;
         }
         @include laptop_max {
             grid-template-columns: repeat(2,1fr);
         }
        .concept_box{
            border-radius: 20px;
            padding: 30px;
            background: #fff;
            box-shadow: -3px 37px 46px -30px rgba(0,0,0,0.6);
            transition: all 0.2s linear;
            @include mobile {
                box-shadow: none;
                border: 1px solid #ddd;
                margin-bottom: 30px;
                // width: 450px;
                // height: 450px;
                // border-radius: 50%;
            }

            &:hover{
                transform: translateY(-10px);
            }

            a  {
                width: 300px;
                height: 300px;
                .cocept_title{
                    font-size: 22px;
                    line-height: 40px;
                    color: #010101;
                    font-family: robo-medium;
                }
    
                .concept_para{
                    font-size: 18px;
                    line-height: 26px;
                    font-family:  robo_light;
                    color: #707374;
    
                }
            }
        }
       } 
    }
}
/* concept section end */


/* dots section start */
#dots {
    // padding: 30px 0px;
    .container{
        background: url(../images/assets/dots-1.png) center center/cover no-repeat;
        height: 140px;
        // .dots_content{
           
        //     height: 140px;
        //     width: 1324px;
        // }
    }

        @include mobile {
            // display: none;
        }
}
/* dots section end */


/* featured section start */
#featured {
    padding: 118px 0px;
    @include laptop_max {
        padding: 60px 0px;
    }
    // z-index: -1;
    position: relative;
    .container{

        .assets{
            position: absolute;
            top: -441px;
            left: -110px;
            z-index: -1;
            display: none;
        }
        .featured_inner {
            padding: 60px 0px;
            @include laptop_max {
                padding: 30px 0px;
            }
            .featured_heading_content{
                padding: 15px 0px;
                @include tablet_max {
                    margin: auto;
                }
                .featured_head{
                    font-size: 50px;
                    font-weight: bold;
                    font-family: nexa;
                    color: #024579;
                    line-height: 67px;
                    text-transform: capitalize;
                    position: relative;
                        @include tablet_max {
                            line-height: 30px;
                            text-align: center;
                            font-size: 30px;
                        }
                    &::after{
                        content: '';
                        position: absolute;
                        top: -20px;
                        left: 0;
                        width: 110px;
                        height: 2px;
                        background: #6FBA84;
                    }
                }
                .featured_subheading{
                    font-size: 26px;
                    font-family: robo_light;
                    line-height: 36px;
                    margin: 0;
                    color: #707374;
                    @include tablet_max {
                        font-size: 15px;
                        line-height: 25px;
                    }
                }
            }
        }
        
        .featured_industries{
            padding: 36px 0px;
            @include tablet_max {
                padding: 0px;
            }
            .industries_content{
                position: relative;
                padding: 30px 0px;
                border: 1px solid transparent;
                border-radius: 20px;
                transition: all 0.2s linear;
                &:hover{
                    transform: translateY(-10px);
                    border: 1px solid #ddd;
                    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
                }
                @include tablet_max {
                   
                    margin: 30px 0px;
                    
                }
                img {
                    margin: auto;

                }
                .industries_title{
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 40px;
                    font-family: gotham;
                    color: #010101;
                }
            }
        }
    }
}
/* featured section end */

/* advantage section start */
#advantage{
    // z-index: -1;
    position: relative;
    overflow: visible;
    padding: 118px 0px;
    @include laptop_max {
        padding: 60px 0px;
    }
    .container{
        
         border-top: 1px solid #707070;

         .assets{
             position: absolute;
             top: -415px;
             right: 10px;
             z-index: -1;
             display: none;
         }
        .advantage_inner{
            
            .advantage_heading_content{
                margin-top: 60px;
                margin-bottom: 60px;

                .advantage_head {
                    position: relative;
                    font-size: 55px;
                    font-weight: bold;
                    font-family: nexa;
                    color: #024579;
                    line-height: 67px;
                    text-transform: capitalize;
                    @include tablet_max {
                        line-height: 30px;
                        text-align: center;
                        font-size: 30px;

                        &::after{
                            content: '';
                            position: absolute;
                            top: -20px;
                            left: 11%;
                            width: 110px;
                            height: 2px;
                            background: #6FBA84;
                        }
                    }
                }
                .advantage_subheading {
                    font-size: 30px;
                    line-height: 39px;
                    letter-spacing: 20;
                    font-family: robo-regular;
                    @include tablet_max {
                        font-size: 15px;
                        line-height: 25px;
                    }
                }
            }
        }

        .advantage_content{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-items: center;
            @include laptop_max() {
                grid-template-columns: repeat(1,1fr);
            }
            .advantage_col{
                width: 600px;
                @include tablet_max{
                    width: 100%;
                }
                .advantage_box{
                    display: flex;
                    align-items: center;
                    // height: 107px;
                    border: 1px solid #B4B4B4;
                    padding: 30px 40px;
                    transition: all 0.2s linear;
                    @include mobile {
                        margin-bottom: 30px;
                    }
                    &:hover{
                        transform: translateY(-10px);
                        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
                        cursor: pointer;
                    }
                    .advantage_box_img{
                        margin-right: 30px;
                    }
                    .advantage_box_text{
                        font-size: 18px;
                        color: #707374;
                        line-height: 32px;
                        font-family: robo-regular;
                        @include mobile{
                            font-size: 12px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}
/* advantage section end */

/*help section  start */
#help {
    background:#EBEBEB;
    position: relative;
    z-index: 999;
    min-height: 570px;
    @include tablet_max {
        min-height: 435px;
    }
    .container{
        .dots {
            position: absolute;
            top: -60px;
            right: 0px;
            display: none;
        }
        .help_inner{
            .help_content{
                padding: 90px 0px;
                @include tablet_max {
                    text-align: center;
                }
                .help_sub_heading{
                    font-size: 50px;
                    line-height: 68px;
                    font-family: gotham;
                    color: #024579;
                    font-weight: bolder;
                    @include tablet_max {
                        // text-align: center;
                        font-size: 30px;
                        line-height: 40px;
                    }
                }
                .help_sub_text{
                    width: 90%;
                    font-family: robo_light;
                    text-align: justify;
                    color: #707374;
                    margin: 32px 0px;
                    font-size: 24px;
                    @include tablet_max {
                        font-size: 16px;
                        line-height: 25px;
                        margin: 32px auto;
                        text-align: center;
                    }
                }

                .help_btn{

                    width: 250px;
                    height: 70px;
                    border-radius: 50px;
                    outline: none;
                    border: none;
                    background: #4A9239;
                    font-size: 22px;
                    line-height: 29px;
                    font-family: robo-regular;
                    color: #fff;
                    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
                    // box-shadow: -8px 42px 35px -13px rgba(0,0,0,0.58);
                    transition: all 0.2s ease-in-out;
                    &:hover{
                        transform: translateY(-10px);
                    }
                }
            }
            .help_content_img{
                position: absolute;
                top: -48px;
            }
        }
    }
}
/*help section  end */

/*Partner section  start */
#partner{
    background: #fff;
    padding: 80px 0px;
    @include tablet_max {
        padding: 60px 0px;
    }
    .container{
       background: url(../images/assets/map.png) center center/cover no-repeat;
       min-height: 580px;
       padding: 90px 0px;
       @include tablet_max {
           min-height: 400px;
       }
           .partner_content{
             .partner_heading{
                 font-size: 50px;
                 line-height: 67px;
                 color: #024579;
                 font-weight: bold;
                 font-family: nexa;
                 text-transform: capitalize;
                 @include tablet_max {
                    font-size: 30px;
                    line-height: 30px;
                    text-align: center;
                }
             }
             .partner_subheading{
                 font-size: 30px;
                 color: #4E4E4E;
                 line-height: 40px;
                 font-family: robo-regular;
                 @include tablet_max {
                    font-size: 15px;
                    line-height: 25px;
                }
             }
           }
           .partner_slider{
               margin-top: 60px;
               @include tablet_max {
                   margin-top: 22px;
               }
               .slide_box{
                   background: #fff;
                   border: 1px solid #B0C0D4;
                   width: 275px;
                   height: 125px;
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   margin: 0px 18px;
                   transition: all 0.2s linear;
                   &:hover{
                    transform: translateY(-10px);
                    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
                    cursor: pointer;
                }
               }
           }
    }
}
/*Partner section  End */



/*Newslater section start */
#newsletter {
    position: relative;
    background: linear-gradient(90deg, rgba(36,156,84,1) 0%, rgba(6,71,122,1) 50%, rgba(15,102,107,1) 99%);
    padding: 90px 0px;
    .container{
        .newsletter_inner{
            .newsletter_heading_content{
                padding: 15px 0px;
                .newsletter_head{
                    font-size: 42px;
                    color: #fff;
                    line-height: 73px;
                    font-family: gotham;
                    font-weight: 900;
                    text-transform: uppercase;
                    // width: ;

                    @include mobile {
                        font-size: 34px;
                        line-height: 48px;
                    }
                }
                .newesletter_subheading{
                    font-size: 26px;
                    font-family: openSans-regular;
                    line-height: 36px;
                    margin: 0;
                    color: #fff;
                    @include moto_g4 {
                        font-size: 12px;
                        line-height: 24px;
                    }
                }
            }
        }

        .form_newsletter{
            position: relative;
            #main_form{
                position: relative;
                width: 1050px;
                height: 113px;
                border-radius: 80px;
                background-color: #fff;
                margin-top: 30px;
                margin-bottom: 40px;
                @include tablet_max() {
                    width: 600px;
                    height: 80px;
                }
                @include mobile {
                    border-radius: 8px;
                }
                input{
                   position: absolute;
                   top: 50%;
                   left: -48px;
                   transform: translate(50%,-50%);
                   width: 450px;
                   height: 33px;
                   border: none;
                   outline: none;
                   z-index: 2;
                   background: transparent;
                   overflow: hidden;
                   &::placeholder {
                       font-size: 21px;
                       color: #7D90A6;
                       font-family: openSans-regular;
                       @include mobile{
                           font-size: 12px;
                       }
                   }
                  @include tablet_max() {
                      width: 300px;
                  }
                  @include mobile {
                      width: 195px;
                      left: 48px;
                  }
                  @include mobile {
                      left: -38px;
                  }
                }
                button{
                   position: absolute;
                   top: 50%;
                   right: 130px;
                   transform: translate(50%,-50%);
                   border: none;
                   outline: none;
                   width: 200px;
                   height: 66px;
                   border-radius: 50px;
                   background: #F2994A;
                   font-size: 18px;
                   color: #fff;
                   font-family: gotham;
                   @include tablet_max() {
                       right: 90px;
                       width: 150px;
                       height: 50px;

                   }
                   @include mobile_max{
                       width: 190px;
                       height: 56px;
                       font-size: 16px;
                       top: 150%;
                       right: 50%;
                       margin-top: 15px;
                    //    transform: translate(50%,-50%);
                   }
                }

                .e-icon{
                    position: absolute;
                    top: 50%;
                    left: 90px;
                    transform: translate(50%,-50%);
                    @include tablet_max() {
                        left: 22px;
                    }
                    @include mobile_max{
                        left: 105px;
                    }
                    @include mobile {
                        left: 12px;
                    }
                    i{
                        
                        color: #f2994A;
                        z-index: 999;
                        font-size: 43px;
                        @include tablet_max() {
                            font-size: 32px;
                            z-index: 222;
                        }
                        @include mobile_max{
                            font-size: 26px;
                            line-height: 32px;
                        }
                    }
                }
                
            }
        }
    }
}
/*Newslater section  End */

/* footer Section Start */
@import './footer';
/* footer Section End */